@using Azure.Core
@using WebApplication5.Models.Entities

@{
    ViewData["Title"] = "Home Page";
    var cataList = ViewData["Catagories"] as IList<Catagory>;
}
@model Dictionary<Catagory,List<Product>>



<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Home" asp-action="Index" >
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="text" class="form-control p-3" name="searchString" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Organic Products</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                      @*   <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li> *@
                        @{int i = 0;}
                        @foreach(var catagory in Model)
                        {
                            var temp = "T" + i++;
                            <li class="nav-item">
                                <a class="d-flex py-2 m-2 bg-light rounded-pill" id="Tabs" data-bs-toggle="pill" href="#@temp">
                                    <span class="text-dark" style="width: 130px;">@catagory.Key.CatagoryName</span>
                                </a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                @{
                    int flag = 0;
                    i = 0;
                }
                @foreach(var item in Model){
                    
                    var temp = "T" + i++;
                    string cl = flag == 0 ? "show active" : "";
                    flag = 1;
                    <div id="@temp" class="tab-pane fade show p-0 @cl">
                    <div class="row g-4">
                        <div class="col-lg-12">

                            <div class="row g-4"> 
                                    @foreach (var product in item.Value)
                                    {
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                        <div class="fruite-img">
                                                            <a href="@Url.Action("Pic","Home", new{id=product.ProductId})">
                                                               <img src="data:image/png;base64, @product.ProductImg" class="img-fluid w-100 rounded-top" style="height:200px" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@cataList.FirstOrDefault(x=>x.CatagoryId==product.CategoryId)?.CatagoryName</div>
                                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                            <h4 id="proname">@product.ProductName</h4>
                                                            <p class="xyz">@product.ProductDescription</p>
                                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                                <p class="text-dark fs-5 fw-bold mb-0">@product.Price/kg</p>
                                                                <p class="text-dark fs-5 fw-bold mb-0">Quantity:- @product.Quantity</p><br /><br />
                                                                @* <a id="btn" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary" ></i> Add to cart</a> *@
                                                                <a id="btn" asp-action="AddToCart" asp-controller="Home" asp-route-productId="@product.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary" ></i> Add to cart</a>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                } 
                            </div>
                        </div>
                    </div>
                </div>
               
 
            }
            </div>

       @*  @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {

            <div class="tab-content">
                <div id="@product.CategoryId" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">

                                                <div class="fruite-img">

                                                    <img src="img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@cataList.FirstOrDefault(x => x.CatagoryId == product.CategoryId)?.CatagoryName</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>@product.ProductName</h4>
                                                    <p class="xyz">@product.ProductDescription</p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">@product.Price</p>
                                                        <p class="text-dark fs-5 fw-bold mb-0">@product.Quantity</p>
                                                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                    </div>
                                                </div>

                                            </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        } *@
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Featurs Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-secondary rounded border border-secondary">
                        <img src="img/featur-1.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-primary text-center p-4 rounded">
                                <h5 class="text-white">Fresh Apples</h5>
                                <h3 class="mb-0">20% OFF</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-dark rounded border border-dark">
                        <img src="img/featur-2.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-light text-center p-4 rounded">
                                <h5 class="text-primary">Tasty Fruits</h5>
                                <h3 class="mb-0">Free delivery</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-primary rounded border border-primary">
                        <img src="img/featur-3.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-secondary text-center p-4 rounded">
                                <h5 class="text-white">Exotic Vegitable</h5>
                                <h3 class="mb-0">Discount 30$</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Featurs End -->
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Fresh Organic Vegetables</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var product in Model.ElementAt(0).Value)
            {
                <div class="border border-primary rounded position-relative vesitable-item mb-2">
                    <div class="vesitable-img">
                        <img src="data:image/png;base64, @product.ProductImg"  class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">product</div>
                    <div class="p-4 rounded-bottom">
                        <h4>@product.ProductName</h4>
                        <p>@product.ProductDescription</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">@product.Price/ kg</p>
                            <a asp-action="AddToCart" asp-controller="Home" asp-route-productId="@product.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary" onclick="SaveLocalhost()"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->

<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
        </div>
        <div class="row g-4">
            @foreach (var product in Model.ElementAt(0).Value)
            {
                <div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="data:image/png;base64, @product.ProductImg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">@product.ProductName</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">@product.Price / kg</h4>
                                <a asp-action="AddToCart" asp-controller="Home" asp-route-productId="@product.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                    </div>
                </div>
            }         
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->

@* @section Scripts {
    <script>
        $(document).ready(function(){
            var data = localStorage.getItem('LocalKey');
            console.log(data);

            $(document).on('click', '#btn', function () {
                var name = $(this).parent().prev().prev();
                console.log(name.text());
                localStorage.setItem('name', name.text())
            });
        });
    </script>
} *@